<div class="row keyvisual valign-wrapper" style="padding-left:5%;">
  <div class="col s12">
    <div class="col s7">
      <h3 style="color:#55B447; text-style:strong;">Meecon</h3>
      <h3 style="color:#55B447;">採用をもっと手軽に。<br>人事と求職者をつなぐ<br>リアルスカウトサービス</h3>
          <button class="waves-effect waves-light btn green-btn">まずは無料で登録</button>
          <button class="waves-effect waves-light btn white" style="color:black;">使い方を見る</button>
    </div>
    <div class="col s5"></div>
  </div>
</div>

<div class="row feature">
  <div class="col s12">
    <div class="divider"></div>
    <h3 class="center-align">Meeconとは？</h3>
  </div>
</div>
